.calendar {
  background: #ffffff;
  max-width: 300px;
  margin: 0 auto;
  overflow: auto;
  display: none;
}

.calendar-controls {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  border-bottom: 1px solid #707070;
  padding: 0.5rem 0;
  text-align: center;
  overflow: hidden;
}
.calendar-controls button {
  cursor: pointer;
  zoom: 1;
  background: #8db596;
  color: #fff;
  border: 1px solid #8db596;
  padding: 0.5rem 0;
}
.calendar-controls .previous {
  float: left;
}
.calendar-controls .next {
  float: right;
}
.calendar-controls select {
  cursor: pointer;
  display: inline-flex;
  zoom: 1;
  background: #ffffff;
  color: #707070;
  border: 1px solid #707070;
  padding: 0.5rem 0.75rem;
}

.date-raw {
  display: flex;
}

.week-days {
  display: flex;
  border-bottom: 1px solid #707070;
}
.week-days div,
.date-picker {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  padding: 0.2rem;
  justify-content: center;
  cursor: pointer;
}

.date-picker:hover,
.date-picker.selected {
  font-weight: bold;
}
.date-picker:nth-child(1) {
color: red;
}
.date-picker:nth-child(7) {
color: green;
}
