@font-face {
    font-family: 'ralewayblack';
    src: url('/fonts/raleway-black-webfont.eot');
    src: url('/fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway-black-webfont.woff2') format('woff2'),
         url('/fonts/raleway-black-webfont.woff') format('woff'),
         url('/fonts/raleway-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('/fonts/raleway-bold-webfont.eot');
    src: url('/fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('/fonts/raleway-bold-webfont.woff') format('woff'),
         url('/fonts/raleway-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('/fonts/raleway-semibold-webfont.eot');
    src: url('/fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('/fonts/raleway-semibold-webfont.woff') format('woff'),
         url('/fonts/raleway-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
