body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover {
  color: #F00;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid blue;
  padding: 5px;
}

