%head
  %title
    = title
  %meta{:content => title, :name => "description"}/
  %meta{:charset => "utf-8"}/
  %link{:href => "assets/favicon.png", :rel => "shortcut icon", :type => "image/x-icon"}/
  %link{:href => "assets/style.css", :rel => "stylesheet"}/
