%header.border-bottom
  %nav
    %ul.nav
      %li
        %a.active{:href => "./index.html"} Главная
      %li
        %a{:href => "./about.html"} Обо мне
      %li
        %a{:href => "./interests.html"} Мои интересы
      %li
        %a{:href => "./study.html"} Учёба
      %li
        %a{:href => "./photo.html"} Фотоальбом
      %li
        %a{:href => "./contact.html"} Контакт
